<div class="dashboard-container">
  <main class="content">
    <div class="header">
      <h1>Welcome, {{ user?.username }} ( {{ user?.is_admin ? "ADMIN" : "USER" }})</h1>
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>

    <div class="intro">
      <h2>Task Management System</h2>
      <p>Our task management system helps you organize, track, and prioritize your tasks and projects efficiently. Whether you're working on personal tasks or managing large-scale projects, our system is designed to make your work easier and more productive.</p>
    </div>

    <div class="dashboard-blocks">
      <!-- <div class="block">
        <h2>My Tasks</h2>
        <p>Keep track of your tasks, their statuses, and priorities. Stay on top of deadlines and manage them effectively.</p>
      </div> -->

      <div class="block" (click)="projects()">
        <h2>Projects</h2>
        <p>Manage your projects and track their progress. Collaborate with team members and achieve project goals on time.</p>
      </div>

      <div *ngIf="user?.is_admin" class="block" (click)="userManagement()">
        <h2>Users Management</h2>
        <p>Manage user roles and permissions within the system. Control who has access to specific tasks and projects.</p>
      </div>

      <div *ngIf="user?.is_admin" class="block">
        <h2>Other Modules</h2>
        <p>Additional modules can be developed as needed to meet specific requirements.</p>
      </div>
      
    </div>
  </main>
</div>