<div class="projects-container">
    <button mat-raised-button color="primary" (click)="openProjectModal()">Create Project</button>
  
    <mat-form-field class="search-bar">
      <input matInput placeholder="Search projects" [(ngModel)]="searchTerm" (keyup)="applyFilter($event)">
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let project"> {{ project.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let project"> {{ project.description }} </td>
      </ng-container>
  
      <ng-container matColumnDef="assignedUsers">
        <th mat-header-cell *matHeaderCellDef> Assigned Users </th>
        <td mat-cell *matCellDef="let project"> {{ getAssignedUsernames(project) }} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let project">
          <button mat-button color="accent" (click)="openProjectModal(project)">Edit</button>
          <button mat-button color="warn" (click)="deleteProject(project.id)">Delete</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
    <ng-template #projectDialog let-dialogRef>
      <div class="modal-container">
        <h2>{{ editingProjectId ? 'Edit Project' : 'Create Project' }}</h2>
        <form [formGroup]="projectForm" (ngSubmit)="createOrUpdateProject()">
          <mat-form-field appearance="fill">
            <mat-label>Project Name</mat-label>
            <input matInput placeholder="Project Name" formControlName="name" />
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Project Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Assigned Users</mat-label>
            <mat-select placeholder="Assigned Users" formControlName="assigned_users" multiple>
              <mat-option *ngFor="let user of users" [value]="user.id">{{ user.username }}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <div class="actions">
            <button mat-raised-button color="primary" type="submit">{{ editingProjectId ? 'Update' : 'Create' }}</button>
            <button mat-button (click)="closeProjectModal()">Cancel</button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
  